<!DOCTYPE html>
<html>
<head>
    <title>Navigation bar</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='navbar.css') }}">
</head>

<body>
	<nav class = "navbar">
		<div class="navbar__logo">
			<i class="fas fa-blog"></i>
			<a href="{{ url_for('index') }}">MINYONG</a>
		</div>
		<ul class="navbar__menu">
		    <li><a href="{{ url_for('index') }}">Home</a></li>
		    <li><a href="{{ url_for('viewPropertyListing.index') }}">Property Listing</a></li>

			<li><a href="{{ url_for('write_review_controller.agent_list') }}">Agent Review</a></li>

		    <li><a href="#">Mortgage</a></li>  <!--page has not been created-->

			{% if not g.user %}
			<li class="dropdown">
			    <a href="#" >Login</a>
			    <div class="dropdown-content">
			        <a href="{{ url_for('login.login') }}">Login</a>
			        <a href="{{ url_for('signup.signup') }}">Signup</a>
			    </div>
			</li>
			{% else %}
			<li class="dropdown">
			    <a href="#">My Page</a>
			    <div class="dropdown-content">
					<!-- 1 -->
					<a href="{{ url_for('profile.profile', userid=g.user.userid) }}">Profile</a>
					<!-- 2 -->
					{% if g.user.role.value == "agent"  %}
					<a href="{{ url_for('viewPropertyListing.viewPropertyListingHistory')}}">게시물 히스토리</a>
					<a href="{{ url_for('view_review_controller.agentViewReviews')}}">Reviews</a>
					{% elif g.user.role.value == "seller" %}
					<a href="{{ url_for('viewPropertyListing.sellerViewOwnPropertyListing')}}">게시된 매물</a>
					{% else %}
			        <a href="#">Shortlist</a>
					{% endif %}


			        <a href="{{ url_for('logout.logout') }}">Logout</a>
			    </div>
			</li>
			{% endif %}
		</ul>
		</div>
	</nav>
</body>
</html>