{% extends "base.html" %}
{% block content %}

<div>
    <table class="table">
        <thead>
        <tr class="text-center">
            <th style="width:50%">Subject</th>
            <th>author</th>
            <th>Date</th>
        </tr>
        </thead>
        <tbody>
        {% if propertyListing_table %}
        {% for propertyListing in propertyListing_table %}
        <tr class="text-center">
            <td>
                <a href="{{ url_for('viewPropertyListing.detail', propertyListing_id=propertyListing.id) }}">
                    {{ propertyListing.subject }}</a>
            </td>
            <td>{{ propertyListing.user.userid }}</td>
            {% if propertyListing.modify_date %}
            <td>{{ propertyListing.modify_date.strftime('%Y-%m-%d')  }}</td>
            {% else %}
            <td>{{ propertyListing.create_date.strftime('%Y-%m-%d')  }}</td>
            {% endif %}
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="3">No contents</td>
        </tr>
        {% endif %}
        </tbody>
    </table>
</div>

<!-- Button for posting new property listing -->
<!-- 우측 하단에 스타일링된 버튼 추가 -->
<div style="text-align: right; margin-top: 20px;" class="ordinal_btn">
    <a href="{{ url_for('createPropertyListing.createPropertyListing') }}" >Create New Property Listing</a>
</div>
{% endblock %}


