{% extends 'base.html' %}

{% block content %}
<div>
    <h1>View Reviews</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Author</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for review in reviews %}
            <tr>
                <td>{{ review.id }}</td>
                <td>{{ review.author_userid }}</td>
                <td><a href="{{ url_for('view_review_controller.review_detail_index', review_id=review.id) }}">View Detail</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}