<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>	[MINYONG] Buy Form</title>
	<link rel="stylesheet" type="text/css" th:href="@{/style.css}">
	
	<style>
		.alert {
		    padding: 15px;
		    margin-bottom: 20px;
		    border: 1px solid transparent;
		    border-radius: 4px;
		}
		
		.alert-danger {
		    color: #721c24;
		    background-color: #f8d7da;
		    border-color: #f5c6cb;
		}
		.invalid-feedback {
		   
		    width: 100%;
		    margin-top: .25rem;
		    font-size: 80%;
		    color: #dc3545;
		}
	</style>
	
</head>
<body>

<div th:replace="navbar.html"></div>

<div>
    <h2>Buy Post Register</h2>
    <form th:object="${buyForm}" method="post">
		<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
		<!-- <div th:replace="~{form_errors :: formErrorsFragment}"></div> -->
		
        <div class="form-container">
            <label for="subject" class="single">Subject</label>
            <input type="text" th:field="*{subject}" id="single" placeholder="Enter Property Subject">
			<div th:if="${#fields.hasErrors('subject')}" th:errors="*{subject}" class="invalid-feedback"></div>
        </div>
        <div class="form-container">
            <label for="content" class="form-control">About the property</label>
            <textarea th:field="*{content}" id="content" class="form-control" rows="10"></textarea>
        </div>
		<div class="form-container">
			<h3>Details</h3>
			<div class="form-container">
			    <label for="address" class="form-label">Address</label>
			    <input type="text" th:field="*{address}" id="address" class="form-control"></input>
				<div th:if="${#fields.hasErrors('address')}" th:errors="*{address}" class="invalid-feedback"></div>
			</div>
			<div class="form-container">
				<label for="propertyType" class="form-label">Property Type</label>
				<select type="text" id="propertyType" th:field="*{propertyType}">
				    <option value="" selected>Property Type</option>
				    <option value="HDB">HDB</option>
				    <option value="CONDO">Condo</option>
				    <option value="APRATMENT">Apartment</option>
				    <option value="STUDIO">Studio</option>
				</select>
				<div th:if="${#fields.hasErrors('propertyType')}" th:errors="*{propertyType}" class="invalid-feedback"></div>
			</div>

			</div>
			<div class="form-container">
			    <label for="floorsize" class="form-label">Floor Size</label>
			    <input type="number" th:field="*{floorsize}" id="floorsize" class="form-control"></input>
				<div th:if="${#fields.hasErrors('floorsize')}" th:errors="*{floorsize}" class="invalid-feedback"></div>
			</div>

			<div class="form-container">
				<label for="furnishing" class="form-label">Furnishing</label>
				<select type="text" id="furnishing" th:field="*{furnishing}">
				    <option value="" selected>Furnishing</option>
				    <option value="PartiallyFurnished">Partially Furnished</option>
				    <option value="FullyFurnished">Fully Furnished</option>
				    <option value="NotFurnished">Not Furnished</option>
				</select>
				<div th:if="${#fields.hasErrors('furnishing')}" th:errors="*{furnishing}" class="invalid-feedback"></div>
			</div>
			
			<div class="form-container">
				<label for="floorlevel" class="form-label">Floor Level</label>
				<select type="text" id="floorlevel" th:field="*{floorlevel}">
				    <option value="" selected>Floor Level</option>
				    <option value="Low">Low</option>
				    <option value="Medium">Medium</option>
				    <option value="High">High</option>
				</select>
				<div th:if="${#fields.hasErrors('floorlevel')}" th:errors="*{floorlevel}" class="invalid-feedback"></div>
			</div>
			
			<div class="form-container">
			    <label for="top" class="form-label">Built Year</label>
			    <input type="number" th:field="*{top}" id="top" class="form-control"></input>
				<div th:if="${#fields.hasErrors('top')}" th:errors="*{top}" class="invalid-feedback"></div>
			</div>
			
			<div class="form-container">
			    <label for="price" class="form-label">Price</label>
			    <input type="number" th:field="*{price}" id="price" class="form-control"></input>
				<div th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="invalid-feedback"></div>
			</div>
			
			
			<div class="form-container">
				<input type="submit" value="Save" class="btn">
			</div>
			
			
		</div>
    </form>
</div>

</body>
</html>


