* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* 
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

} */

.login-box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* width: 420px; shifts login-box to left */

}

.login-box h1 {
    font-size: 36px;
    text-align: center;
}

.login-box .input-box{
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 1.5px solid;
    border-radius: 15px; /* rounds border corners */
    font-size: 14px;
    padding: 20px 45px 20px 15px;
}

.agent-net {
    text-align: bottom;
}

.login-box .register-link {
    text-align: center;
}

a {
    text-decoration: underline;
    font-weight: bold;
}

.login-box .btn {
    width: 100%;
    height: 40px;
    background: lightblue;
    border: none;
    outline: none;
    border-radius: 45px;
    font-weight: bold;
}
/* .form-box {
    display: flex;
    border-radius: ;
    padding: ;
} */

/*
form{
    display: flex;
    flex-direction: column;
}
