{% extends "base.html" %}

{% block content %}
<div class="container my-3">
    <!-- Flash 메시지 출력 -->
    {% for message in get_flashed_messages() %}
    <div class="alert alert-danger" role="alert">
        {{ message }}
    </div>
    {% endfor %}

    <h2>{{ propertyListing.subject }}</h2>

      {% if images %}
        {% if images|length > 1 %}
            <div class="slider">
                <div class="slides">
                    {% for file in images %}
                        <img src="{{ url_for('static', filename='images/property_listings/' + file) }}" alt="Property Image">
                    {% endfor %}
                </div>
                <div class="navigation">
                    <button class="prev" onclick="changeSlide(-1)">&#10094;</button>
                    <button class="next" onclick="changeSlide(1)">&#10095;</button>
                </div>
                <div class="dots">
                    {% for idx in range(images|length) %}
                        <span class="dot" onclick="currentSlide({{ idx }})"></span>
                    {% endfor %}
                </div>
            </div>
        {% else %}
            <img src="{{ url_for('static', filename='images/property_listings/' + images[0]) }}" alt="Property Image" style="width:100%">
        {% endif %}
    {% else %}
        <p>No images available for this listing.</p>
    {% endif %}


    <div class="card my-3">
        <div class="card-body">
            <h3>Property Description</h3>
            <div class="card-text" style="white-space: pre-line;">{{ propertyListing.content }}</div>
            <h3>Price</h3>
            <div class="card-text">{{ propertyListing.price }}</div>
            <h3>Address</h3>
            <div class="card-text">{{ propertyListing.address }}</div>
            <h3>Floor Size</h3>
            <div class="card-text">{{ propertyListing.floorSize }}</div>
            <h3>Floor Level</h3>
            <div class="card-text">{{ propertyListing.floorLevel }}</div>
            <h3>Property Type</h3>
            <div class="card-text">{{ propertyListing.propertyType }}</div>
            <h3>Furnishing</h3>
            <div class="card-text">{{ propertyListing.furnishing }}</div>
            <h3>Built Year</h3>
            <div class="card-text">{{ propertyListing.builtYear }}</div>
            <h3>Author</h3>
            <div class="card-text">{{ propertyListing.agent.userid }}</div>

            {% if g.user == propertyListing.agent or g.user.userid == propertyListing.client_id %}
            <h3>Client</h3>
            <div>{{ propertyListing.client_id }}</div>
            {% endif %}

            <h3>Date</h3>
            <div class="d-flex justify-content-end">
                {% if propertyListing.modify_date %}
                <div class="badge bg-light text-dark p-2 text-start mx-3">
                    <div class="mb-2">Modified at</div>
                    <div>{{ propertyListing.modify_date }}</div>
                </div>
                {% else %}
                <div class="badge bg-light text-dark p-2">
                    {{ propertyListing.create_date }}
                </div>
                {% endif %}
            </div>

            {% if g.user.userid == propertyListing.client_id %}
            <h3>View Counts</h3>
            <div>{{ propertyListing.view_counts }}</div>
            {% endif %}


            {% if propertyListing.is_sold == True %}
            <h2> Sold </h2>
            {% else %}
            <h2> On Sale</h2>
            {% endif %}

            <!-- If user is agent, display edit and remove button. -->
            <div class="my-3">
                {% if g.user == propertyListing.agent %}
                <a onclick="window.location.href = '/propertyListing/edit/{{propertyListing.id}}'"
                   class="ordinal_btn">Edit</a>
                <a href="#" class="delete ordinal_btn"
                   data-uri="/propertyListing/remove/{{propertyListing.id}}">Remove</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const deleteButtons = document.querySelectorAll('.delete');
        deleteButtons.forEach(button => {
            button.addEventListener('click', () => {
                if (confirm('Are you sure to remove the post?')) {
                    const uri = button.getAttribute('data-uri');
                    fetch(uri, {
                        method: 'DELETE',
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    })
                    .then(response => {
                        if (response.ok) {
                            alert('Property listing successfully removed.');
                            window.location.href = '/propertyListing/';
                        } else {
                            throw new Error('부동산 리스트 삭제에 실패했습니다.');
                        }
                    })
                    .catch(error => {
                        console.error('Delete error:', error.message);
                        alert('부동산 리스트 삭제에 실패했습니다.');
                    });
                }
            });
        });
    });


    let slideIndex = 0;

    function showSlides(index) {
        const slides = document.querySelectorAll('.slides img');
        const dots = document.querySelectorAll('.dot');

        if (index >= slides.length) slideIndex = 0;
        if (index < 0) slideIndex = slides.length - 1;

        slides.forEach((slide, i) => {
            slide.style.display = i === slideIndex ? 'block' : 'none';
        });

        dots.forEach((dot, i) => {
            dot.className = i === slideIndex ? 'dot active' : 'dot';
        });
    }

    function changeSlide(n) {
        showSlides(slideIndex += n);
    }

    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    document.addEventListener('DOMContentLoaded', () => {
        showSlides(slideIndex);
    });

</script>

{% endblock %}

