{% extends "base.html" %}
{% block content %}

<div>
    <table class="table">
        <thead>
        <tr>
            <th>Subject</th>
            <th>Date</th>
        </tr>
        </thead>
        <tbody>
        {% if propertyListing_table %}
        {% for propertyListing in propertyListing_table %}
        <tr>
            <td>
                <a href="{{ url_for('viewPropertyListing.detail', propertyListing_id=propertyListing.id) }}">
                    {{ propertyListing.subject }}</a>
            </td>
            <td>{{ propertyListing.create_date }}</td>
            {% if g.user.role.value == "buyer"  %}
            <td>
                <button onclick="toggleFavourite(this, {{ propertyListing.id }})"
                        class="favourite-btn"
                        id="favourite-btn-{{ propertyListing.id }}">Favourite</button>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="3">No contents</td>
        </tr>
        {% endif %}
        </tbody>
    </table>
</div>
{% if g.user.role.value == "agent"  %}
<div style="text-align: right; margin-top: 20px;">
    <a href="{{ url_for('createPropertyListing.createPropertyListing') }}" style="display: inline-block; padding: 10px 20px; background-color: #007bff; color: #fff; text-decoration: none; border-radius: 5px; border: 1px solid #007bff;">Create New Property Listing</a>
</div>
{% endif %}
<script>
function toggleFavourite(btn, propertyListingId) {
    fetch(`/toggle_favourite/${propertyListingId}`, {
        method: 'POST',
    })
    .then(response => response.json())
    .then(data => {
        if(data.success) {
            // "isFavourite" 상태에 따라 버튼의 클래스를 변경합니다.
            if(data.isFavourite) {
                btn.classList.add("favourite-active");
                btn.textContent = "Favourited";
            } else {
                btn.classList.remove("favourite-active");
                btn.textContent = "Favourite";
            }
        }
    })
    .catch((error) => {
        console.error('Error:', error);
    });
}

</script>

<style>
/* 기본 "Favourite" 버튼 스타일 */
.favourite-btn {
    padding: 5px 10px;
    border: 1px solid #ccc;
    background-color: #ccc; /* 회색 배경 */
    color: white;
    cursor: pointer;
}

/* 활성화된 "Favourite" 버튼 스타일 */
.favourite-active {
    background-color: #ff0000; /* 빨간색 배경 */
}

/* 비활성화된 "Favourite" 버튼 스타일 - 선택적 사용 가능 */
.favourite-inactive {
    background-color: #ccc; /* 회색 배경 */
}
</style>

{% endblock %}





