{% extends "base.html" %}
{% block content %}


<div id="propList-container">
  <div id="propList-header">
    <h1 class="my-3 border-bottom pb-2" id="propList-title">Property Listings</h1>
    <!-- If the user is a buyer, show the button to view old property listings -->
    {% if g.user and g.user.role.value == "buyer" %}
    <div class="ordinal_btn" id="propList-viewOldBtnContainer">
      <a href="{{ url_for('viewOldPropertyListings.view_old_property_listings_index') }}" id="propList-viewOldBtn">
        View Old Property Listings >
      </a>
    </div>
    {% endif %}
  </div>
  <div class="search-container" id="propList-searchContainer">
    <input type="text" id="propList-searchInput" class="search-input" placeholder="Search by subject...">
    <button onclick="searchProperty()" class="search-button" id="propList-searchBtn">Search</button>
  </div>
  <div id="propList-table">
    <div id="propList-tbody">
      {% if propertyListing_table %}
      {% for propertyListing in propertyListing_table %}
      <div class="tr text-center" id="propList-row">
        <!-- Image -->
        <div class="td" id="propList-image">
          <img src="{{ propertyListing.image_url }}" alt="Property Image">
        </div>
        <!-- Subject -->
        <div class="td" id="propList-subject">
          <a href="{{ url_for('viewPropertyListing.detail', propertyListing_id=propertyListing.id) }}">
            {{ propertyListing.subject }}</a>
        </div>
        <!-- Address -->
        <div class="td" id="propList-address">{{ propertyListing.address }}</div>
        <!-- Price -->
        <div class="td" id="propList-price">$ {{ propertyListing.price }}</div>
        <!-- Favourite Button -->
        {% if g.user and g.user.role.value == "buyer" %}
        <div class="td" id="propList-favBtnContainer">
          <button onclick="toggleFavourite(this, {{ propertyListing.id }})" class="favourite-btn" id="propList-favBtn">
            ♡
          </button>
        </div>
        {% endif %}
        <div class="divider"></div>
        <div class="info-container">
          <div class="td" id="propList-agent-{{ propertyListing.id }}">Listed by {{ propertyListing.agent.userid }}</div>
          {% if propertyListing.modify_date %}
          <div class="td" id="propList-modifyDate-{{ propertyListing.id }}">{{ propertyListing.modify_date.strftime('%Y-%m-%d') }}</div>
          {% else %}
          <div class="td" id="propList-createDate-{{ propertyListing.id }}">{{ propertyListing.create_date.strftime('%Y-%m-%d') }}</div>
          {% endif %}
        </div>
      </div>
      {% endfor %}
      {% else %}
      <div class="tr" id="propList-noContentRow">
        <div class="td" colspan="3" id="propList-noContent">No contents</div>
      </div>
      {% endif %}
    </div>
  </div>
</div>

<!-- Contact Agent Modal -->
<div id="contactAgentModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <h3>Contact Information</h3>
    <p>Phone Number: +65 8888 8888</p>
    <p>Email: test@test.com</p>
  </div>
</div>

<!-- Button for posting new property listing -->
{% if g.user and g.user.role.value == "agent" %}
<div style="text-align: right; margin-top: 20px;" class="ordinal_btn" id="propList-createNewBtnContainer">
    <a href="{{ url_for('createPropertyListing.createPropertyListing') }}" id="propList-createNewBtn">Create New Property Listing</a>
</div>
{% endif %}

<script>
function toggleFavourite(btn, propertyListingId) {
    fetch(`/toggle_favourite/${propertyListingId}`, {
        method: 'POST',
    })
    .then(response => response.json())
    .then(data => {
        if(data.success) {
            // Toggle the heart symbol based on the "isFavourite" status
            if(data.isFavourite) {
                btn.classList.add("favourite-active");
                btn.textContent = "♥"; // Filled heart symbol
            } else {
                btn.classList.remove("favourite-active");
                btn.textContent = "♡"; // Empty heart symbol
            }
        }
    })
    .catch((error) => {
        console.error('Error:', error);
    });
}

</script>

{% endblock %}





