{% extends "base.html" %}
{% block content %}

<div class="container my-3">
    <!-- 질문 -->
    <h2>{{ propertyListing.subject }}</h2>
    <div class="card my-3">
        <div class="card-body">
            <h3>Property Description</h3>
            <div class="card-text" style="white-space: pre-line;">{{ propertyListing.content }}</div>
            <h3>Price</h3>
            <div class="card-text" style="white-space: pre-line;">{{ propertyListing.price }}</div>
            <h3>Address</h3>
            <div class="card-text" style="white-space: pre-line;">{{ propertyListing.address }}</div>
            <h3>Floor Size</h3>
            <div class="card-text" style="white-space: pre-line;">{{ propertyListing.floorSize }}</div>
            <h3>Floor Level</h3>
            <div class="card-text" style="white-space: pre-line;">{{ propertyListing.floorLevel }}</div>
            <h3>Property Type</h3>
            <div class="card-text" style="white-space: pre-line;">{{ propertyListing.propertyType }}</div>
            <h3>Furnishing</h3>
            <div class="card-text" style="white-space: pre-line;">{{ propertyListing.furnishing }}</div>
            <h3>Built Year</h3>
            <div class="card-text" style="white-space: pre-line;">{{ propertyListing.builtYear }}</div>
            <div class="d-flex justify-content-end">
                <div class="badge bg-light text-dark p-2">
                    {{ propertyListing.create_date }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}